<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['productList']">Products</a></li>
        <li><a [routerLink]="['angForm']">AngularForm</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <pm-products ></pm-products> -->
<!-- <app-form></app-form> -->


